body {
	background-color: #232323;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

#container {
	margin: 0px auto;
	max-width: 600px;
}

h1 {
	background: grey;
	color: white;
	text-align: center;
	padding: 100px;
}

#navBar{
	background: white;
	padding: 5px;
	text-align: center;
}

